.netflix-logo {
  width: 9.25rem;
  height: 2.5rem;
  object-fit: cover;
}

header {
  position: fixed;
  top: 0;
  // max-width: 1082px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: auto;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background: linear-gradient(180deg, #333, transparent);
}

.bg-img {
  min-height: 100vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.form-container {
  margin-bottom: 50px;
  max-width: 576px;
  margin: 0 auto;
  padding: 0 5%;
  height: 576px;
  position: relative;
  top: 92px;

  .sign-in-form {
    //min-height: 707px;
    padding: 48px 68px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    .sign-in__title {
      color: rgb(255, 255, 255);
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 28px;
    }

    input {
      width: 100%;
      height: 56px;
      padding: 12px;
      margin-bottom: 16px;
    }

    .sign-in__submit-btn {
      color: rgb(255, 255, 255);
      background-color: rgb(229, 9, 20);
      padding: 12px;
      text-align: center;
      border-radius: 5px;
      width: 100%;
    }

    .form-footer {
      color: rgb(255, 255, 255);
      margin-top: 16px;
    }
  }

  .error-msg {
    font-size: 16px;
    color: red;
    margin-bottom: 16px;
    font-weight: 500;
  }
}

.logout-btn {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: red;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: center;
}

.main-container {
  position: relative;

  .video-details-sec {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    max-width: 400px;
    left: 50px;
  }

  .video-details__desc {
    color: #fff;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  }

  .video-details__title {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  }
}

.secondary-container {
  position: relative;
  top: -250px;
}

.movie-card {
  width: 25%;
  padding: 0 5px;
  border-radius: 4px;
  color: #fff;
}

.movies-list {
  padding-bottom: 30px;
  background-color: #000;
  padding-left: 50px;
  &:first-child {
    background: linear-gradient(180deg, transparent, #000);
  }
  &__title {
    margin-bottom: 15px;
    color: #e5e5e5;
    font-size: 1.4vw;
    line-height: 1.25vw;
    font-weight: 500;
  }
  &__container {
    display: flex;
    overflow-x: auto;
  }
}

.gpt-search-btn {
  color: #fff;
  background: #9d06ea;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
}

.gpt-search-page-container {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
  top: 120px;
  .gpt-search__container {
    height: 100px;
    padding: 12px;

    input {
      width: 100%;
      border: #333;
      padding: 10px;
      margin-right: 12px;
      border-radius: 4px;
    }

    .gpt-search__submit {
      padding: 6px 12px 10px;
      background: red;
      color: #fff;
      border-radius: 4px;
      width: 120px;
      /* display: flex; */
      text-align: center;
      /* height: 40px; */
      margin-left: auto;
    }
  }
}

.lang-selector {
  color: #fff;
  background: #f407f0;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  -webkit-appearance: none; /* Chrome/Safari/Opera */
  -moz-appearance: none; /* Firefox */
  appearance: none;

  option {
    background: #fff;
    color: #000;
    font-size: 16px;
  }
}

img.movie-card__poster_img {
  max-width: 150px;
}
